* {
  box-sizing: border-box;
  font-family: "Hind", "Futura", "sans-serif"; }

body {
  margin: 0; }

img {
  width: 100%;
  display: block; }

.column-container {
  font-size: 0; }

.column-container > * {
  display: inline-block;
  vertical-align: top;
  font-size: medium; }

.nav-bar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
  background-color: white;
  border: solid 1px lightgray;
  vertical-align: top;
  list-style: none;
  margin: 0;
  padding: 0;
  display: block; }

.nav-bar li {
  height: 100px;
  padding-top: 30;
  margin: 0;
  border-right: solid 1px lightgray;
  text-align: center; }

.nav-links {
  width: 30%;
  font-size: 20px; }

.small-logo,
.menu-icon {
  width: 20%; }

.restaurants-nav {
  width: 100%;
  height: 80px;
  background-color: black;
  color: white;
  margin-top: 120px;
  letter-spacing: 2px; }

.restaurants-link {
  height: 80px;
  padding: 25px 20px 20px 20px; }

.down-arrow-icon {
  float: right;
  font-size: 40px;
  width: 20%;
  text-align: center;
  border-left: solid #a6a3a3 1px;
  height: 80px;
  padding-top: 10px; }

.restaurants {
  padding: 40px 20px 40px 20px; }

.restaurant-images > * {
  width: 100%;
  background-size: cover;
  height: 400px;
  text-align: center;
  color: #fff; }

.restaurant-images {
  width: 100%;
  background-color: orange; }

.img-desc {
  position: absolute; }

h4 {
  text-align: center;
  letter-spacing: 2px; }

h3 {
  text-align: center;
  margin: 0;
  padding-bottom: 5px;
  letter-spacing: 2px; }

.wavy-line-white {
  width: 25%;
  margin: 0 auto; }

.noodle-bar-img {
  background: url("../images/momofuko-01-noodlebarbowl_mini.jpg") center, center no-repeat;
  text-align: center;
  color: #fff;
  position: relative; }

.ssam-bar-img {
  background: url("../images/momofuku-02-ssam-bar.jpg") center, center no-repeat;
  text-align: center;
  color: #fff;
  position: relative; }

.ko-img {
  background: url("../images/momofuku-03-ko.png") center, center no-repeat;
  text-align: center;
  color: #fff;
  position: relative; }

.ma-peche-img {
  background: url("../images/momofuku-04-ma-peche.jpg") center, center no-repeat;
  text-align: center;
  color: #fff;
  position: relative; }

.nishi-img {
  background: url("../images/momofuku-05-nishi.jpg") center, center no-repeat;
  text-align: center;
  color: #fff;
  position: relative; }

.ccdc-img {
  background: url("../images/momofuku-06-CCDC.jpg") center, center no-repeat;
  text-align: center;
  color: #fff;
  position: relative; }

.nakai-img {
  background: url("../images/momofuku-10-bar.jpg") center, center no-repeat;
  text-align: center;
  color: #fff;
  position: relative; }

.daisho-img {
  background: url("../images/momofuku-07-daisho.png") center, center no-repeat;
  text-align: center;
  color: #fff;
  position: relative; }

.shoto-img {
  background: url("../images/momofuku-08-shoto.png") center, center no-repeat;
  text-align: center;
  color: #fff;
  position: relative; }

.milk-bar-img {
  background: url("../images/momofuku-09-milk-bar.jpg") center, center no-repeat;
  text-align: center;
  color: #fff;
  position: relative; }

@media screen and (min-width: 600px) {
  ul.nav-bar {
    top: initial;
    left: 0;
    top: 0;
    width: 25%;
    height: 100%; }
    ul.nav-bar li {
      display: block;
      margin: 0 auto; } }

/*# sourceMappingURL=styles.css.map */
