* {
  box-sizing: border-box;
  font-family: "Hind", "Futura", "sans-serif"; }

body {
  margin: 0; }

img {
  width: 100%;
  display: block; }

.column-container {
  font-size: 0; }

.column-container > * {
  display: inline-block;
  vertical-align: top;
  font-size: medium; }

.nav-bar-large {
  display: none; }

.nav-bar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  background-color: white;
  border-bottom: solid 1px lightgray;
  vertical-align: top;
  list-style: none;
  margin: 0;
  padding: 0;
  display: block;
  z-index: 1;
  background-color: #f8f8f8; }

.nav-bar li {
  height: 80px;
  padding-top: 30;
  margin: 0;
  border-right: solid 1px lightgray;
  text-align: center; }

.nav-bar img {
  width: 50%;
  margin: 0 auto;
  padding-right: 5px;
  padding-top: 30px; }

.nav-links {
  width: 30%;
  font-size: 20px;
  padding-top: 30px; }

.menu-icon {
  padding-top: 30px;
  font-size: x-large; }

.logo,
.menu-icon {
  width: 20%; }

.second-nav {
  width: 100%;
  height: 60px;
  background-color: black;
  color: white;
  margin-top: 80px;
  letter-spacing: 2px; }

.restaurants-link,
.concept-link,
.location-link {
  height: 60px;
  padding: 20px;
  display: inline-block; }

.down-arrow-icon {
  float: right;
  font-size: 40px;
  width: 20%;
  text-align: center;
  border-left: solid #a6a3a3 1px;
  height: 60px; }

.second-nav__mobile {
  width: 100%;
  height: 60px; }

.second-nav__large {
  display: none; }

.right-links {
  height: 60px; }

.restaurant-images {
  width: 100%;
  padding: 40px 20px 40px 20px;
  background-color: #f2f2f2; }

.restaurant-images > * {
  width: 100%;
  background-size: cover;
  height: 400px;
  text-align: center;
  color: #fff; }

.img-desc {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px; }

h4 {
  text-align: center;
  letter-spacing: 2px; }

h3 {
  text-align: center;
  margin: 0;
  padding-bottom: 5px;
  letter-spacing: 2px;
  font-size: 30px; }

.wavy-line-white {
  width: 25%;
  margin: 0 auto; }

.noodle-bar-img {
  background: url("../images/momofuko-01-noodlebarbowl_mini.jpg") center, center no-repeat; }

.ssam-bar-img {
  background: url("../images/momofuko-02-ssam-bar.jpg") center, center no-repeat; }

.ko-img {
  background: url("../images/momofuko-03-ko.png") center, center no-repeat; }

.ma-peche-img {
  background: url("../images/momofuko-04-ma-peche.jpg") center, center no-repeat; }

.nishi-img {
  background: url("../images/momofuko-05-nishi.jpg") center, center no-repeat; }

.ccdc-img {
  background: url("../images/momofuko-06-CCDC.jpg") center, center no-repeat; }

.nakai-img {
  background: url("../images/momofuko-10-bar.jpg") center, center no-repeat; }

.daisho-img {
  background: url("../images/momofuko-07-daisho.png") center, center no-repeat; }

.shoto-img {
  background: url("../images/momofuko-08-shoto.png") center, center no-repeat; }

.milk-bar-img {
  background: url("../images/momofuko-09-milk-bar.jpg") center, center no-repeat; }

.rest-img {
  text-align: center;
  background-size: cover;
  color: #fff;
  position: relative;
  display: inline-block;
  margin-bottom: 4px;
  height: 300px; }

@media screen and (min-width: 600px) {
  .nav-bar {
    display: none; }

  .nav-bar-large {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 25%;
    height: 100%;
    padding: 0;
    border-right: solid lightgray 1px;
    background-color: #f8f8f8; }
    .nav-bar-large li {
      display: block;
      margin: 0 auto;
      width: 100%;
      border-bottom: solid 1px lightgray;
      letter-spacing: 3px; }
    .nav-bar-large .logo-full {
      padding-top: 20px;
      padding-bottom: 100px;
      padding-left: 30px;
      padding-right: 30px;
      height: 22%; }
    .nav-bar-large .nav-links {
      padding-left: 30px;
      padding-right: 30px;
      font-size: 12px;
      padding-bottom: 5px;
      padding-top: 30px;
      text-align: center;
      height: 18.6%; }
    .nav-bar-large .nav-icons {
      margin: 0 auto;
      width: 25%; }
    .nav-bar-large .reservations {
      border-bottom: none;
      padding-left: 30px;
      padding-right: 30px;
      font-size: 12px;
      padding-bottom: 5px;
      padding-top: 30px;
      text-align: center;
      height: 22%; }
    .nav-bar-large .reservations ul {
      list-style: none;
      display: inline-block;
      padding: 0;
      width: 100%;
      padding-bottom: 15px; }
    .nav-bar-large .reservations li {
      display: inline-block;
      width: 20%; }
    .nav-bar-large .social-icons {
      border: none; }
    .nav-bar-large .wavy-line-black {
      width: 20%;
      margin: 0 auto; }

  .second-nav__mobile {
    display: none; }

  .second-nav {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    margin: 0;
    z-index: 1;
    width: 75%;
    height: 60px; }

  .second-nav__large {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    margin: 0;
    z-index: 1;
    width: 75%; }

  .restaurant-images {
    display: inline-block;
    padding: 100px 0px 40px 205px; }

  .restaurant-images > * {
    width: 48%; }

  .rest-img {
    margin: 3px;
    height: 300px; } }
@media screen and (min-width: 1000px) {
  .nav-bar {
    display: none; }

  .nav-bar-large {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 15%;
    height: 100%;
    padding: 0;
    border-right: solid lightgray 1px;
    background-color: #f8f8f8; }
    .nav-bar-large li {
      display: block;
      margin: 0 auto;
      width: 100%;
      border-bottom: solid 1px lightgray;
      letter-spacing: 3px; }
    .nav-bar-large .logo-full {
      padding-top: 40px;
      padding-bottom: 100px;
      padding-left: 30px;
      padding-right: 30px;
      height: 22%; }
    .nav-bar-large .nav-links {
      padding-left: 30px;
      padding-right: 30px;
      font-size: 12px;
      padding-bottom: 5px;
      padding-top: 40px;
      text-align: center;
      height: 18.6%; }
    .nav-bar-large .nav-icons {
      margin: 0 auto;
      width: 25%; }
    .nav-bar-large .reservations {
      border-bottom: none;
      padding-left: 30px;
      padding-right: 30px;
      font-size: 12px;
      padding-bottom: 5px;
      padding-top: 40px;
      text-align: center;
      height: 22%; }
    .nav-bar-large .reservations ul {
      list-style: none;
      display: inline-block;
      padding: 0;
      width: 100%;
      padding-bottom: 15px; }
    .nav-bar-large .reservations li {
      display: inline-block;
      width: 20%; }
    .nav-bar-large .social-icons {
      border: none; }
    .nav-bar-large .wavy-line-black {
      width: 20%;
      margin: 0 auto; }

  .second-nav__mobile {
    display: none; }

  .second-nav {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    margin: 0;
    z-index: 1;
    width: 85%; }

  .second-nav__large {
    display: block; }

  .restaurant-images {
    display: inline-block;
    padding: 40px 0px 40px 225px; }

  .restaurant-images > * {
    width: 48%; }

  .rest-img {
    margin: 3px; } }

/*# sourceMappingURL=styles.css.map */
