* {
    box-sizing: border-box;
    font-family: "Hind", "Futura", "sans-serif";
}

img {
  width: 100%;
  display: block;
}

.column-container{
  font-size: 0;
}
.column-container > * {
  display: inline-block;
  vertical-align: top;
  font-size: medium;
}

.main-nav{
  width: 100%;
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  border: solid 1px lightgray;
}

  .nav-links{
    width: 30%;
    text-align: center;
    font-size: 25px;
    padding: 42px 20px 42px 20px;
  }

  .logo-container,
  .menu-icon{
    width: 20%;
    text-align: center;
    font-size: 25px;
  }
  .logo-container{
    padding: 30px;
  }
  .menu-icon{
    padding: 40px;
  }

.restaurants-nav{
  width: 100%;
  background-color: black;
  color: white;
  margin-top: 100px;
}
  .restaurants-links{
    padding: 20px;
    letter-spacing: 2px;
  }
  .down-arrow-icon{
    float: right;
    font-size: 40px;
    width: 20%;
    text-align: center;
    border-left: solid #a6a3a3 1px;
    height: 58px;
    padding-top: 10px;
  }
//
// @media screen and (min-width: 1000px) {
//   .main-nav{
//   position: fixed;
//   right: 0;
//   }
// }

// .restaurant-images{
//   display: inline-block;
//   margin-top: 40px;
//   margin-bottom: 40px;
//   margin-left: 20px;
//   margin-right: 20px;
//   background-color: lavender;
//   width: 100%;
//   vertical-align: top;
//   // display: block;
// }
//
// h4{
//   text-align: center;
// }
// h3{
//   text-align: center;
// }
//
// .noodle-bar-img{
//   background-image: url("images/momofuku-01-noodlebarbowl.jpg");
//   background-size: 100%;
//   display: block;
//   font-size: medium;
//   width: 100%;
// }
//
// .ssam-bar-img{
//   background-image: url("../images/momofuku-02-ssam-bar.jpg");
//   background-size: cover;
// }
//
// .ko-img{
//   background-image: url("../images/momofuku-03-ko.png");
//   background-size: cover;
// }
//
// .ma-peche-img{
//   background-image: url("../images/momofuku-04-ma-peche.jpg");
//   background-size: cover;
// }
//
// .nishi-img{
//   background-image: url("../images/momofuku-05-nishi.jpg");
//   background-size: cover;
// }
//
// .ccdc-img{
//   background-image: url("../images/momofuku-06-CCDC.jpg");
//   background-size: cover;
// }
//
// .daisho-img{
//   background-image: url("../images/momofuku-07-daisho.png");
//   background-size: cover;
// }
//
// .shoto-img{
//   background-image: url("../images/momofuku-08-shoto.png");
//   background-size: cover;
// }
